<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-2">
      <div (click)="buttonMDD()">
        <img class="mdd-header" src="../../../assets/logo_p6.png" />
      </div>
    </div>
    <div *ngIf="userConnected">
      <div class="col-md-10">
        <div class="collapse navbar-collapse nav-content" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                (click)="postTab()"
                [ngClass]="{ 'nav-link': true, active: onPostTab }"
                >Articles</a
              >
            </li>
            <li class="nav-item">
              <a
                (click)="themeTab()"
                [ngClass]="{ 'nav-link': true, active: onThemeTab }"
                >Themes</a
              >
            </li>
            <li class="nav-item">
              <a (click)="userDetailTab()" class="nav-link">
                <i
                  [ngClass]="{ 'bi-person': true, active: onUserDetailTab }"
                ></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div type="button" class="col-10 col-md-0 navbar-toggler-icon mobile-toggle-button" (click)="collapseMenu()"></div>
    </div>
  </nav>
</div>
