<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="button-previous">
      <i (click)="buttonPreviousTab()" class="bi-arrow-left"></i>
    </div>
    <div class="col-12 text-center">
      <div class="title-text">Créer un nouvel article</div>
    </div>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-9 col-md-4">
        <select
          class="form-select col-12 align-self-center mb-3 form-control"
          formControlName="theme"
          [(ngModel)]="themeSelected"
          required
        >
          <option>Sélectionner un thème</option>
          <option *ngFor="let theme of themeList.themes">
            {{ theme.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 col-md-4">
        <input
          type="text"
          [maxlength]="50"
          class="form-control col-12 mb-3"
          formControlName="title"
          placeholder="Titre de l'article"
          required
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 col-md-4">
        <textarea
          #myTextArea
          [maxlength]="maxChars"
          class="form-control col-12"
          formControlName="description"
          placeholder="Contenu de l'article"
          style="min-height: 9em"
          required
        ></textarea>
        <div class="text-end mb-3">
          {{ myTextArea.value.length }} /{{ maxChars }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 col-md-2 text-center">
        <button class="button-base" type="submit">
          <p class="text-color">Créer</p>
        </button>
      </div>
    </div>
  </form>
</div>
