.comment-bloc {
  background-color: #eeeeee;
  border-radius: 15px;
  padding: 1em 2em;
  min-height: 7em;
  border: none;
}

.comment-textarea {
  border-radius: 15px;
  min-height: 9em;
  border-color: black;
}

.bi-send {
  color: #7763c5;
  font-size: 2.5rem;
  margin: auto;
  border: none;
  background: none;
}
