<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="button-previous">
      <i (click)="buttonPreviousTab()" class="bi-arrow-left"></i>
    </div>
    <img src="/assets/logo_p6.png" alt="logo" class="custom-image" />
    <div class="col-12 text-center">
      <h1>Inscription</h1>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row justify-content-center">
      <div class="col-9 col-md-4">
        <label>Nom d'utilisateur</label>
        <input
          type="text"
          class="form-control col-12 mb-3"
          formControlName="username"
          required
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 col-md-4">
        <label>Adresse e-mail</label>
        <input
          type="text"
          class="form-control col-12 mb-3"
          formControlName="email"
          required
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 col-md-4">
        <label>Mot de passe</label>
        <input
          type="password"
          class="form-control col-12 mb-3"
          formControlName="password"
          required
        />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3 text-center">
        <button class="button-base" type="submit">
          <p class="text-color">S'inscrire</p>
        </button>
        <span *ngIf="onError" class="error ml2">{{ messageError }}</span>
      </div>
    </div>
  </form>
</div>
