/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
// Then import Bootstrap
@import "~bootstrap-icons/font/bootstrap-icons.css";


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 1em auto;
}

.base-color {
  color: #7763c5;
}
.current-tab-header-color {
  color: #6c5bcf;
}
.button-base{
  margin: 1em auto;
  padding: 0.5em 1em;
  width: 100%;
  background-color: #7763c5;
  border-radius: 12px;
  .text-color{
    color: white;
    margin: auto;
  }
}

.bi-arrow-left{
  font-size: 2rem;
  color: black;
}

.line-bar {
  height:2px;
  border-width:0;
  color:black;
  background-color:black
}

// articleList themeList and userDetail
.sort {
  margin: 1em auto;
  padding: 0.5em 0em;
}

.card {
  width: 47%;
  margin: 0.5em 0;
  background-color: #f5f5f5;
  border: none;
}