<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <img src="/assets/logo_p6.png" alt="logo" class="custom-image" />
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-7 col-md-4">
      <button class="button-auth" (click)="login()">
        <p class="text-content">Se connecter</p>
      </button>
    </div>
    <div class="col-7 col-md-4">
      <button class="button-auth" (click)="register()">
        <p class="text-content">S'inscrire</p>
      </button>
    </div>
  </div>
</div>
